body {
  font-family: Helvetica, serif;
  color: #eeeeee;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background: #fc5c7d;

}

div{
  background-image: linear-gradient(to top, #fc5c7d, #6a82fb);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*filter: blur(10px);*/
  /*-webkit-filter: blur(10px);*/
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
  opacity: 1;
}
header {
  font-family: "American Typewriter", sans-serif;
  font-weight: lighter;
  border-bottom: 5px solid #eeeeee;
  padding: 20px 15px 15px 15px;
  font-size: 48px;
  position: relative;
  background: transparent;
}
#login-buttons {
  display: block;
  background: #eeeeee;
}
h1 {
  font-size: 1.5em;
  display: inline-block;
  margin: 0 1em 10px 0;
}
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

new-task {
  background: #eeeeee;
}
.new-task input {
  box-sizing: border-box;
  background: transparent;
  border: none;
  width: 100%;
  padding: 10px 80px 10px 0;
  font-size: 48px;
}
.new-task input:focus{
  outline: 0;
}
ul {
  margin: 0;
  padding: 0;
  background: transparent;
}
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 30px;
  border: none;
  color: #ff0025;
  position: relative;
}
li {
  position: relative;
  font-family: "American Typewriter", serif;
  border-bottom: 5px solid #eeeeee;
  font-size: 30px;
  list-style: none;
  padding: 15px;
}

li .text {
  margin-left: 10px;
  color: #eee;
}
li.checked {
  color: #4cd018 !important;
}
li.checked .text {
  text-decoration: line-through;
  color: #54e81a !important;
}
li.private {
  background: #eee;
  border-color: #ddd;
}

li.private .text {
  color: #2980b9 !important;
}

li.checked.private  .text {
  text-decoration: line-through;
  color: #54e81a !important;
}

header .hide-completed {
  float: right;
  font-size: 30px;
}
.toggle-private {
  margin-left: 5px;
  border-radius: 12px;
  background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}

li.private button.toggle-private{
  background-color: #f44336 !important;
}

div.login-link-and-dropdown-list{
  background-image: linear-gradient(to bottom, rgba(135, 122, 219, 1), rgba(144, 120, 208, 0.95)) !important;
  color: white !important;
}

div#login-username-label-and-input{
  background-image: none !important;
}

div#login-password-label-and-input{
    background-image: none !important;
}

div#login-password-again-label-and-input{
    background-image: none !important;
}

div#login-old-password-label-and-input{
  background-image: none !important;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
  .search {
    width: 150px;
    clear: both;
  }
  .new-task input {
    padding-bottom: 5px;
  }
}
